.bg-img{
    background-image: url('main_back.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 10, 10, 0.5); /* Change the last value (0.5) for opacity */
}

.header {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #f4f5d8;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:34px;
    font-weight: normal;
    margin-left: 200px;
}

.navbar {
    position: absolute;
    top: 50px;
    right: 100px;
    color: white;
}

.navbar a {
    color: #f4f5d8;
    text-decoration: none;
    margin-left: 20px;
}
.content {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    background-color: white; /* Background color for content */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
}
#healthPredictionForm{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.form-out{
    background-image: url('form-bg.jpg');
    background-size: cover;
    width: 490px;
    height:410px;
    margin-top:108px;
}
.form-container {
    display: flex;
    flex-direction: column;
    border: 6px solid #751b1b; /* Border for the form container */
    padding: 20px; /* Add padding to space the form from the border */
    /* Rounded corners for the form container */
    max-width: 900px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form container horizontally */
    text-align: left;
    background-color:white;
    width: 900px;
}
.heading-line {
    border: 1px solid #701414; /* Change border properties as needed */
    margin: 10px 530px; /* Adjust margin to control space above and below the line */
    width: 400px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  
}


/* Style for checkboxes */
input[type="checkbox"] {
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    margin-top: 10px; 
}

input[type="checkbox"]:checked {
    /* Style for checked state */
    background-color: #5d1912; /* Example color */
}
.custom-button {
    background-color: #851919;
    border: none;
    color: rgb(9, 9, 9);
    display: inline-block;
    padding: 12px 132px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left:20px;
}

.custom-button:hover {
    background-color: #692323;
}
.about-section {
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 100px;
}
.acc-heading{
    text-align: center;
    color: black;
    padding-top: 40px;
    padding-bottom:30px;
}
.for-text{
    line-height: 2.5;
    color:hsla(0, 20%, 5%, 0.655);
    
}
.image-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px; /* Adjust margin as needed */
    margin: 0 70px;
}

.image-wrapper {
    text-align: center;
}

.image-wrapper img {
    width: 340px; /* Adjust image width as needed */
   
}

.image-wrappe img {
    width: 240px; /* Adjust image width as needed */
   
}
.img-2{
    height:280px;
}
.img-3{
    height:280px;
}